<!-- Header -->

<header class="bg-cbd py-1 mb-1">

  <p class="m-0 text-center text-white">
   
    <div class="align-items-center">
<center>
         <img src="/2025/assets/images/cover/Hakodate2.jpeg" class="img-fluid main-width" />
         
        
         <br>
   <font style="color:white">  <h2>
The 12th IEEE International Conference on Cloud and Big Data Computing <br/>(CBDCom 2026)<br>
(Hybrid: On-site/Online)
     </h2></font>    

      </center>
  </div>
    
      </div>
  
</header>

