<header class="bg-primary py-1 mb-1">

  <p class="m-0 text-center text-white">
   
    <div class="align-items-center">
<center>

<img src="assets/images/cover/melbourne4.jpeg" class="img-fluid main-width" />
         

   <font style="color:white">  <h2>
 <!-- IEEE CyberSciTech / PICom / DASC / CBDCom 2025 -->
 2026 IEEE CyberSciTech / DASC / PICom / CBDCom Co-located Conferences <br>
(Hybrid: On-site/Online)<br>
 <hr/>
Melbourne, Australia
        </h3>
        </font>
  </center>
  </div>
    
      </div>
    </div>
    </div>
</header>
