<style>
  @media (max-width: 768px) {
    .navbar-nav .nav-link {
      font-size: 0.9rem;
    }

    .navbar-brand {
      font-size: 0.95rem !important;
    }
  }
</style>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size: 1.05rem;">
  <div class="container-fluid px-3">

    <!-- Logo: 全名显示在PC端，简短名显示在手机端 -->
    <a class="navbar-brand" href="{{ site.baseurl }}/" style="font-size: 1.1rem;">
      <span class="d-none d-md-inline">IEEE CyberSciTech/DASC/PICom/CDBCom 2026</span>
      <span class="d-inline d-md-none">CyberSciTech/DASC/PICom/CDBCom</span>
    </a>

    <!-- 折叠菜单按钮（手机端显示） -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLeft"
      aria-controls="navbarLeft" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- 菜单内容 -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarLeft">
      <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="{{ site.baseurl }}/dasc/">Home</a></li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="committeesDropdown" role="button" data-toggle="dropdown">
            Committees
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.baseurl }}/dasc/organization/">Organizing Committee</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/dasc/tpc/">Technical Program Committee</a>
          </div>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="callsDropdown" role="button" data-toggle="dropdown">
            Calls
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.baseurl }}/dasc/callpaper/">Call for Papers</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/dasc/callworkshops/">Call for Workshops and Special Sessions</a>
          </div>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="workshopsDropdown" role="button" data-toggle="dropdown">
            Workshops
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.baseurl }}/cyberscitech/acceptworkshops/">CyberSciTech Workshops</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/dasc/acceptworkshops/">DASC Workshops</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/picom/acceptworkshops/">PICom Workshops</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/cbdcom/acceptworkshops/">CBDCom Workshops</a>
          </div>
        </li>

               <li class="nav-item dropdown active">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Program
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ site.baseurl }}/outline/">Program Outline</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/program/">Program Agenda</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/keynote/">Keynotes</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/panel/">Panel</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/tutorial/">Tutorial</a>
            <!-- <a class="dropdown-item" href="{{ site.baseurl }}/socialevent/">Social Event</a> -->
           </li>   
           
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="authorsDropdown" role="button" data-toggle="dropdown">
            Authors
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.baseurl }}/dasc/papersubmissions/">Paper Submission</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/dasc/acceptedpapers/">Accepted Papers</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/crs/">Camera Ready Submissions</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/registration/">Author Registration</a>
          </div>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="attendDropdown" role="button" data-toggle="dropdown">
            Attend
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://cabin.kenhotels.com/hakodate/">Conference Venue</a>
            <!-- <a class="dropdown-item" href="{{ site.baseurl }}/hakodate/">About Hakodate</a> -->
            <a class="dropdown-item" href="{{ site.baseurl }}/registration/">Registration</a>
          </div>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="coLocatedDropdown" role="button" data-toggle="dropdown">
            Co-located Conferences
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.baseurl }}/cyberscitech/">CyberSciTech</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/picom/">PICom</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/cbdcom/">CBDCom</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
