<div class="col-md-4 mb-1">

<h4>Recent Updates</h4>
<!-- <b>[19 Feb]</b> <a href="https://cyber-science.org/2025/outline/" target="_blank"><u>Program Outline Updated</u></a><br/>
<b>[19 Feb]</b> <a href="https://cyber-science.org/2025/hakodate/" target="_blank"><u>About Hakodate Page Added</u></a><br/>
<b>[19 Mar]</b> <a href="http://cyber-science.org/2025/assets/files/CyberSciTech2025_CFP.pdf" target=_new><u>CyberSciTech 2025 Call for Papers (PDF)</u></a><br/>
<b>[21 Mar]</b> <a href="http://cyber-science.org/2025/assets/files/DASC2025_CFP.pdf" target=_new><u>DASC 2025 Call for Papers (PDF)</u></a><br/>
<b>[21 Mar]</b> <a href="http://cyber-science.org/2025/assets/files/PICom2025_CFP.pdf" target=_new><u>PICom 2025 Call for Papers (PDF)</u></a><br/>
<b>[21 Mar]</b> <a href="http://cyber-science.org/2025/assets/files/CBDCom2025_CFP.pdf" target=_new><u>CBDCom 2025 Call for Papers (PDF)</u></a><br/>
<b>[07 Apr]</b> <a href="https://edas.info/N33760" target=_new><u>Submission System for CyberSciTech Opens</u></a><br/>
<b>[07 Apr]</b> <a href="https://edas.info/N33776" target=_new><u>Submission System for DASC Opens</u></a><br/>
<b>[07 Apr]</b> <a href="https://edas.info/N33777" target=_new><u>Submission System for PICom Opens</u></a><br/>
<b>[07 Apr]</b> <a href="https://edas.info/N33778" target=_new><u>Submission System for CBDCom Opens</u></a><br/>
<b>[27 Jul]</b> <a href="https://cyber-science.org/2025/panel/" target="_blank"> <u>Panel is Updated</u></a><br/>
<b>[23 Aug]</b> <a href="https://cyber-science.org/2025/registration/" target="_blank"> <u>Registration System Opened</u></a><br/>
<b>[13 Sep]</b> <a href="https://cyber-science.org/2025/crs/" target="_blank"> <u>Important Correction on Camera-Ready Submission</u></a><br/>
<b>[29 Sep]</b> <a href="https://cyber-science.org/2025/assets/CyberSciTech_DASC_PICom_CBDCom 2025 - Program at a Glance (0929E).pdf" target="_blank"><u>Program-at-a-Glance Updated</u></a><br/>
<b>[20 Oct]</b><font color=red>(NEW)</font> <a href="https://cyber-science.org/2025/assets/CyberSciTech_DASC_PICom_CBDCom 2025 - Advance Program (1015A).pdf" target="_blank"><u>Advance Program Updated</u></a><br/>
<b>[20 Oct]</b><font color=red>(NEW)</font> <a href="https://teu-ac-jp.zoom.us/j/84988626085?pwd=VGaeYH6ykxaBEuRUYwk8zuYaZ9bWbV.1" target="_blank"><u>Use Zoom1 to watch the main venue's live stream！</u></a><br/> -->
<!-- <b>[10 Jun]</b> Submission System Opens<br/>
<b>[14 Jul]</b> <a href="https://cyber-science.org/2025/keynote/" target="_blank"><u>Keynotes are Updated</u></a><br/>
<b>[14 Jul]</b> <a href="https://cyber-science.org/2025/panel/" target="_blank"><u>Panel is Updated</u></a><br/>
<b>[14 Jul]</b> <a href="https://cyber-science.org/2025/tutorial/" target="_blank"><u>Tutorial is Updated</u></a><br/>
<b>[28 Aug]</b> <a href="https://sites.google.com/g.msuiit.edu.ph/cyberscitech-info/home/" target="_blank"><u>Local Information Updated</u></a><br/>
<b>[28 Aug]</b> <a href="https://cyber-science.org/2025/overview/" target="_blank"><u>Program Overview Updated</u></a><br/>
<b>[05 Sep]</b> <a href="https://cyber-science.org/2025/crs/" target="_blank"><u>Camera-ready Submission Opened</u></a><br/>
<b>[05 Sep]</b> <a href="https://cyber-science.org/2025/registration/" target="_blank"><u>Registration System Opened</u></a><br/>
<b>[25 Oct]</b> <font color=red>(NEW)</font> <a href="https://cyber-science.org/2025/program/" target="_blank"><u>Program Agenda Updated</u></a><br/>
<b>[05 Nov]</b> <font color=red>(NEW)</font> <a href="https://cyber-science.org/2025/assets/CyberSciTech_DASC_PICom_CBDCom 2025 Advanced Program.pdf" target="_blank"><u>Zoom ID and Passcode are updated for online sessions; Please check them in the Advanced Program</u></a><br/> -->
<hr/>

<h4>Important Dates</h4>
<p>For specific dates, please refer to each conference‘s homepage:</p>
<ul>
  <li><a href="https://cyber-science.org/2026/cyberscitech/"><u>CyberSciTech</u></a></li>
  <li><a href="https://cyber-science.org/2026/dasc/"><u>DASC</u></a></li>
  <li><a href="https://cyber-science.org/2026/picom/"><u>PICom</u></a></li>
  <li><a href="https://cyber-science.org/2026/cbdcom/"><u>CBDCom</u></a></li>
</ul>

<p>
<hr />

  <h4><a href="/2026/special-issues/">Special Issues</a></h4>
 <hr />
    
 <p>
  <h4> Sponsored By</h4>      
  <a href="https://www.ieee.org/"><img src="/2026/assets/images/IEEE.png" class="img-fluid" alt="IEEE"/></a>
  <a href="https://www.computer.org/"><img src="/2026/assets/images/ieeecs.jpg" class="img-fluid" alt="IEEECS"/><br/></a>
  <hr/>
  <h4> Supported By</h4>
  <img src="/2026/assets/images/smclogo.jpg" class="img-fluid" alt="SMC"/>
  <img src="/2026/assets/images/swtclogo.jpg" class="img-fluid" alt="SWT"/><br/>
  <img src="/2026/assets/images/tcsclogo.jpg" class="img-fluid" alt="TCST"/>
  <img src="/2026/assets/images/HI-TC_FormalLogo_50.png" class="img-fluid" alt="HI-TC"/><br/>
  <hr/>
  <!-- <h4> Hosted By</h4>
  <img src="/2026/assets/images/hoster.jpeg" class="img-fluid half-size" alt="Future University Hakodate"/>
  <br/> -->
  <hr/>
  <h4> Social Media</h4>
  <div class="panel-body">
        <!-- <div class="fb-page" data-href="https://www.facebook.com/CyberSciTech/" data-width="250" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CyberSciTech/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CyberSciTech/">Cyber Science and Technology</a></blockquote></div> -->
    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" style="position: static; visibility: visible; width: 214px; height: 20px;" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.64457a6e8f493e1f1022f50e4e7e67e8.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=CyberSciTec&amp;show_count=true&amp;show_screen_name=true&amp;size=m&amp;time=1513340808808" data-screen-name="CyberSciTec"></iframe>
    <a href="https://www.facebook.com/CyberSciTech/"><img src="/2025/assets/images/facebook_icon.png" width="50" alt="facebook"/></a>
  </div>
</p>
  
</div>
