<div class="col-md-4 mb-1">
<h4>Recent Updates</h4>
<!-- <b>[19 Feb]</b> <a href="https://cyber-science.org/2025/outline/" target="_blank"><u>Program Outline Updated</u></a><br/>
<b>[19 Feb]</b> <a href="https://cyber-science.org/2025/hakodate/" target="_blank"><u>About Hakodate Page Added</u></a><br/>
<b>[21 Mar]</b> <a href="http://cyber-science.org/2025/assets/files/DASC2025_CFP.pdf" target=_new><u>DASC 2025 Call for Papers (PDF)</u></a><br/>
<b>[07 Apr]</b> <a href="https://edas.info/N33776" target=_new><u>Submission System for DASC Opens</u></a><br/>
<b>[27 Jul]</b> <a href="https://cyber-science.org/2025/panel/" target="_blank"><u>Panel is Updated</u></a><br/>
<b>[18 Aug]</b> <a href="https://cyber-science.org/2025/crs/" target="_blank"> <u>Camera-ready Submission Opened</u></a><br/>
<b>[23 Aug]</b> <a href="https://cyber-science.org/2025/registration/" target="_blank"> <u>Registration System Opened</u></a><br/>
<b>[13 Sep]</b> <a href="https://cyber-science.org/2025/crs/" target="_blank"> <u>Important Correction on Camera-Ready Submission</u></a><br/>
<b>[29 Sep]</b> <a href="https://cyber-science.org/2025/assets/CyberSciTech_DASC_PICom_CBDCom 2025 - Program at a Glance (0929E).pdf" target="_blank"><u>Program-at-a-Glance Updated</u></a><br/>
<b>[01 Oct]</b><font color=red>(NEW)</font> <a href="https://cyber-science.org/2025/assets/CyberSciTech_DASC_PICom_CBDCom 2025 - Advance Program (1015A).pdf" target="_blank"><u>Advance Program Updated</u></a><br/>
<b>[20 Oct]</b><font color=red>(NEW)</font> <a href="https://teu-ac-jp.zoom.us/j/84988626085?pwd=VGaeYH6ykxaBEuRUYwk8zuYaZ9bWbV.1" target="_blank"><u>Use Zoom1 to watch the main venue's live stream！</u></a><br/> -->
 
<!-- <b>[15 Mar]</b> <a href="http://cyber-science.org/2025/assets/files/DASC2025_CFP.pdf" target=_new>DASC 2025 Call for Papers (PDF)</a><br/>
<b>[10 Jun]</b> <a href="https://edas.info/N32601" target=_new><u>Submission System for DASC Opens</u></a><br/>
<b>[14 Jul]</b> <a href="https://cyber-science.org/2025/keynote/" target="_blank"><u>Keynotes are Updated</u></a><br/>
<b>[14 Jul]</b> <a href="https://cyber-science.org/2025/panel/" target="_blank"><u>Panel is Updated</u></a><br/>
<b>[14 Jul]</b> <a href="https://cyber-science.org/2025/tutorial/" target="_blank"><u>Tutorial is Updated</u></a><br/>
<b>[28 Aug]</b> <a href="https://sites.google.com/g.msuiit.edu.ph/cyberscitech-info/home/" target="_blank"><u>Local Information Updated</u></a><br/>
<b>[28 Aug]</b> <a href="https://cyber-science.org/2025/overview/" target="_blank"><u>Program Overview Updated</u></a><br/>
<b>[05 Sep]</b> <a href="https://cyber-science.org/2025/crs/" target="_blank"><u>Camera-ready Submission Opened</u></a><br/>
<b>[05 Sep]</b> <a href="https://cyber-science.org/2025/registration/" target="_blank"><u>Registration System Opened</u></a><br/>
<b>[25 Oct]</b> <font color=red>(NEW)</font> <a href="https://cyber-science.org/2025/program/" target="_blank"><u>Program Agenda Updated</u></a><br/>
<b>[05 Nov]</b> <font color=red>(NEW)</font> <a href="https://cyber-science.org/2025/assets/CyberSciTech_DASC_PICom_CBDCom 2025 Advanced Program.pdf" target="_blank"><u>Zoom ID and Passcode are updated for online sessions; Please check them in the Advanced Program</u></a><br/> -->

<hr/>
<!-- <h4>Important dates <font color=red> UPDATED!</font></h4> -->
<h4>Important Dates</h4>
<!-- <p>
<b>Workshop/SS Proposal Due:</b> May 20, 2025<br/>
<b>Regular Paper Due:</b> <font color=black><del>June 10, 2025</del></font><font color=red> July 11, 2025 (Extended)</font><br/>
<b>WiP/Poster/Workshop/SS Paper Due:</b> <font color=black><del>June 20, 2025</del></font><font color=red> July 31, 2025 (Extended)</font><br/>
<b>LBI Paper Due:</b> <font color=red> August 10, 2025</font><br/>
<b>Author Notification:</b> August 16, 2025<br/>
<b>Paper Registration Due:</b> <font color=black><del>September 5, 2025</del></font><font color=red> September 10, 2025 (Firmed)</font><br/>
<b>Camera-ready Submission Due:</b> <font color=black><del>September 12, 2025</del></font><font color=red> September 20, 2025 (Firmed)</font> -->

<!-- <p class="starred-text"> Click <a href="/2026/dasc/papersubmissions/"><b>here</b></a> to see instructions for Regular/WiP/Workshop/Poster/SS papers</p> -->
<hr/>

 <h4><a href="/2026/dasc/acceptworkshops/">Workshops & Special Sessions</a></h4>
 <hr />

 <h4><a href="/2026/special-issues/">Special Issues</a></h4>
 <hr />

 
 <style>
  .logo-img {
    max-height: 70px;
    width: auto;
    object-fit: contain;
    margin-bottom: 0.5rem;
  }
  .logo-row {
    margin-bottom: 1.5rem;
  }
</style>

<div class="container-fluid">
  <!-- Sponsored -->
  <h4 class="text-left">Sponsored By</h4>
  <div class="row align-items-center logo-row">
    <div class="col-auto">
      <a href="https://www.ieee.org/">
        <img src="/2026/assets/images/IEEE.png" class="logo-img" alt="IEEE"/>
      </a>
    </div>
    <div class="col-auto">
      <a href="https://www.computer.org/">
        <img src="/2026/assets/images/ieeecs.jpg" class="logo-img" alt="IEEECS"/>
      </a>
    </div>
  </div>

  <hr/>

  <!-- Supported -->
  <h4 class="text-left">Supported By</h4>
  <div class="row align-items-center logo-row">
    <div class="col-auto">
      <img src="/2026/assets/images/smclogo.jpg" class="logo-img" alt="SMC"/>
    </div>
    <div class="col-auto">
      <img src="/2026/assets/images/swtclogo.jpg" class="logo-img" alt="SWT"/>
    </div>
    <div class="col-auto">
      <img src="/2026/assets/images/tcsclogo.jpg" class="logo-img" alt="TCST"/>
    </div>
    <div class="col-auto">
      <img src="/2026/assets/images/HI-TC_FormalLogo_50.png" class="logo-img" alt="HI-TC"/>
    </div>

     <!-- <div class="col-auto">
        <img src="/2026/assets/images/sponsors/JSSST-DSW.png" class="logo-img" alt="JSSST-DSW"/>
    </div>
    <div class="col-auto">
        <img src="/2026/assets/images/sponsors/IPSJ-SIG-DPS.png" class="logo-img" alt="IPSJ-SIG-DPS"/>
    </div>
        <div class="col-auto">
        <img src="/2026/assets/images/IEICE SIG-DC.png" class="logo-img" alt="IEICE SIG-DC"/>
    </div> -->
  </div>

  <hr/>

  <!-- Hosted -->
  <!-- <h4 class="text-left">Hosted By</h4>
  <div class="row align-items-center logo-row">
    <div class="col-auto">
      <img src="/2026/assets/images/hoster.jpeg" class="logo-img" style="max-height: 100px;" alt="Future University Hakodate"/>
    </div>
  </div>
</div> -->

<p>
<hr/>

  <h4> Past Conferences</h4>
<a href="http://cyber-science.org/2025/dasc/">DASC 2025<a> <br>
<a href="http://cyber-science.org/2024/dasc/">DASC 2024<a> <br>
<a href="https://icnetlab.org/cyber-science2023/dasc/index">DASC 2023<a> <br>
<a href="http://cyber-science.org/2022/dasc/">DASC 2022<a> <br>
<a href="http://cyber-science.org/2021/dasc/">DASC 2021<a> <br>
<a href="http://cyber-science.org/2020/dasc/">DASC 2020<a> <br>
<a href="http://cyber-science.org/2019/dasc/">DASC 2019<a> <br>
<a href="http://cyber-science.org/2018/dasc/">DASC 2018<a> <br>

</p>
<hr/>
<h4> Social Media</h4>
<div class="panel-body">    
      <!-- <div class="fb-page" data-href="https://www.facebook.com/CyberSciTech/" data-width="250" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CyberSciTech/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CyberSciTech/">Cyber Science and Technology</a></blockquote></div> -->
  <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" style="position: static; visibility: visible; width: 214px; height: 20px;" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.64457a6e8f493e1f1022f50e4e7e67e8.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=CyberSciTec&amp;show_count=true&amp;show_screen_name=true&amp;size=m&amp;time=1513340808808" data-screen-name="CyberSciTec"></iframe>
  <a href="https://www.facebook.com/CyberSciTech/"><img src="/2025/assets/images/facebook_icon.png" width="50" alt="facebook"/></a>
</div>
  </div>
